<mat-card class="se">

  Order:<br>
  <mat-form-field appearance="fill">
    <mat-label>Apitizer</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Salad/soup</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enterries</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Bevarages</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  Special Instructions<br>
  <mat-form-field class="sp" appearance="outline">
    <mat-label></mat-label>
    <input matInput placeholder="Special Instructions" value="">
  </mat-form-field>
</mat-card>

<router-outlet></router-outlet>
